{% extends 'home_base.html' %}
{% load static %}


{% block content %}
<video playsinline autoplay muted loop class="page-video">
    <source src="{% static 'assets/video/video-page-title.mp4' %}" type="video/mp4">
</video>
<div class="tf-container xl ">
    <div class="row">
        <div class="col-12">
            <div class="content-inner">
                <h2 class="title">Take The First Step Towards A Balanced & Fulfilling Life.</h2>
                <div class="content-right">
                    <p class="text-1 description">
                        With a team of highly qualified psychologists, we offer effective therapy tailored
                        to your
                        needs. Trust us to support you every step of the way.
                    </p>
                    <div class="bot">
                        <a class="tf-btn style-default btn-color-secondary pd-28" href="{% url 'chats' %}">
                            <span>Talk to a bot <i class="icon-ArrowRight"></i></span>

                        </a>
                        <p class="h6 phone">Or Call Us: <span>+254 712345678</span> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
    